.item-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 350px;
    flex-grow: 1;
}

.item-image {
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.item-card img,
.preview-image img {
    width: auto;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.item-card .item-card-body {

    padding: 10px 16px;
}

.item-buttons {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-left: 0.5rem;
}

.item-buttons button {
    border-radius: 100%;
}

.item-buttons button i {
    padding: 0 !important;
}

.item-card.selected {
    box-shadow: 0 4px 8px 0 #ffb580, 0 6px 20px #ffc499;
    border: 1px solid #ffa666;
}

.products-completion {
    color: red;
}

.products-completion.completed {
    color: #00cc00;
}

.products-section {
    height: 700px;
    overflow: auto;
}

.thanks-header {
    justify-content: center !important;
}

.thanks-title {
    font-size: 2rem !important;
}

.thanks-content {
    font-size: 1.4rem !important;
}

.image-delete {
    margin-top: 2.2rem;
}

.image-delete i {
    color: red !important;
}

.media-delete {
    margin-top: 2.2rem;
}

.media-delete i {
    color: red !important;
}

.logo-delete {
    margin-top: 2.2rem;
}

.logo-delete i {
    color: red !important;
}

.customer-detail {
    line-height: 30px;
}

.preview-image {
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.nav-link-selected {
    color: red;
}

.custom-file-input-video-parent {
    border: none;
    border-top: 1px solid #E4E6EF;
    border-right: 1px solid #E4E6EF;
    border-bottom: 1px solid #E4E6EF;
    border-radius: 0 0.42rem 0.42rem 0;
    padding: 0.65rem 1rem;
    display: flex;
    height: 100%;
}

.custom-file-input-video-parent input {
    overflow: hidden;
    border-radius: 0.42rem;
    width: 0;
}
.border-right-solid {
    border-right: 3px solid #f7f7f9 !important;
}
.product-group > .nav-link {
    padding: 0.3rem;
}
.product-group .nav-link {
    color: #86868b;
}

.product-group .nav-link-selected {
    color: #007AFF;
}

.product-image-center {
    top: 337px;
    left: 623px;
    width: 335px;
    height: 276px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    opacity: 1;
}

.btn-selects{
    border-color:#0071E3 ;
    color: white;
    top: 814px;
    left: 1373px;
    width: 279px;
    height: 44px;
    /* UI Properties */
    background: #0071E3 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
}

.btn-view{
    top: 866px;
    left: 651px;
    width: 279px;
    height: 44px;
    /* UI Properties */
    border: 1px solid #0071E3;
    border-radius: 8px;
    opacity: 1;
}

.product-group-scroll {
    direction:rtl;
    scrollbar-width: thin;
    height: 600px;
    width: 100%;
    border-radius: 6px;
    padding: 0.5rem;
    overflow-x: scroll;
}
/* custom scrollbar */
.product-group-scroll ::-webkit-scrollbar {
    width: 20px;
}

.product-group-scroll ::-webkit-scrollbar-track {
    background-color: transparent;
}

.product-group-scroll ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.product-group-scroll ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.car-shadow {
    box-shadow: 1px 2px 10px 6px #86868b !important;
}
.dark-gray {
    background-color: darkgray;
}

.title-heading > h1 {
    text-align: center;
    line-height: 0px;
    font-weight: 600;
}

.card-desc {
    color: #86868b;
}

.blue-color {
    color: #2138A1;
}

.option-button:hover {
    text-decoration: underline !important;
}

.options_colours{
    margin-bottom: 40px;
    text-align: left;
    font: bold 24px;
    font-weight: 700;
}

.cards{
    /* background: #F2F9FF 0% 0% no-repeat padding-box; */
    background: #F2F9FF 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    opacity: 1;
}

.cards-body{
    padding: 25px;
    background-color: white;
    top: 361px;
    left: 671px;
    /* width: 240px; */
    height: 229px;
    /* UI Properties */
    /* background: transparent url('img/Image 15.png') 0% 0% no-repeat padding-box; */
    opacity: 1;
}

.menu-link {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(220, 1, 1);
    color: white;
    border-radius: 50%;
    padding: 0.5em 1em;
    font-size: 0.75em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
